body {
   margin: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   max-width: 940px;
   margin: 0 auto;
   padding: 0 1rem;
}

main h1 {
   font-size: 1.5rem;
   text-wrap: balance;
}

footer {
   border-top: 1px solid #ddd;
   margin-top: 2rem;
   padding: 0.5rem;
   text-align: center;
}

a[href] {
   color: #b5121a;
}
